# Environments:
env/
venv/
.conda/

# Jupyter Notebooks:
.ipynb_checkpoints/

# Python:
__pycache__/
*.pyc

# Data (Ignores the contents of the data folders, but not the folders themselves):
data/processed/*
data/raw/*
data/processed/*.gexf
data/processed/*.pickle
!data/raw/.gitkeep
!data/processed/.gitkeep